html,
body {
  overflow-x: hidden;
}
h1 {
  font-family: "Gotham-Bold";
}
p {
  font-family: "Gotham-Medium";
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.noMargPadd {
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding: 0;
}
.animate {
  position: relative;
  .videoSectionFull {
    // background: black;
    img {
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      z-index: 99;
    }
  }
}

.laptop-wrapper {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  video {
    box-sizing: border-box;
    box-sizing: border-box;
    background-size: contain;
    padding: 7% 1% 27% 0%;
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

#animation1 {
  position: fixed;
  left: 25%;
  top: -2%;
  transform: translate(-50%, -50%);
  transform: scale(2.5);
  width: 800px;
  height: 800px;
  z-index: 10;
}
#animation2 {
  position: fixed;
  left: 21%;
  top: 6%;
  transform: translate(-50%, -50%);
  transform: scale(2.5);
  width: 700px;
  height: 700px;
}
#animation3 {
  position: fixed;
  left: 21%;
  top: 6%;
  transform: translate(-50%, -50%);
  transform: scale(2.5);
  width: 700px;
  height: 700px;
}

.section2 {
  height: 0;
  h1 {
    font-family: "Gotham-Bold";
  }
  p {
    font-family: "Gotham-Medium";
  }
  #fourthWord {
    text-align: center;
    font-size: 6rem;
  }
  #eightWord {
    text-align: center;
    font-size: 6rem;
  }
}

.bottomContent {
  .section_laptop_slider {
    padding: 0px 0 40px 0;
    .container {
      max-width: 1080px;
      margin: 0 auto;
    }
    h3 {
      font-family: "Gotham-Medium";
      text-align: center;
      font-size: 28px;
      margin-bottom: 40px;
    }
    .ls_wrapper {
    }
    .ls_box {
      padding: 0 15px;
    }
    .ls_image {
      img {
        display: block;
        width: 100%;
      }
    }
    .ls_info {
      background: #3e8ddd;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .ls_half {
      width: calc(100% / 2);
      display: block;
      float: left;
      font-family: "Gotham-Bold";
      color: #fff;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
      &.buy_now {
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        font-size: 22px;
        &:before {
          content: "";
          display: block;
          width: 2px;
          height: 50px;
          background: #fff;
          position: absolute;
          top: 5px;
          left: 0;
        }
      }
    }
    .slick-prev {
      left: -10px;
      &:before {
        color: #3e8ddd;
        opacity: 1;
      }
    }
    .slick-next {
      right: -10px;
      &:before {
        color: #3e8ddd;
        opacity: 1;
      }
    }
  }
  .section_gamepass {
    padding: 40px 0 0;
    background: #000;
    .container {
      max-width: 1080px;
      margin: 0 auto;
    }
    h3 {
      font-family: "Gotham-Medium";
      text-align: center;
      font-size: 28px;
      margin-bottom: 40px;
      color: #fff;
    }
    img {
      width: 100%;
    }
  }
  .section_guide {
    background: url("assets/images/bg_cover.jpg") no-repeat center / cover;
    padding: 40px 0;
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
    .guide_box {
      background: #107c10;
      border-radius: 20px;
      padding: 20px 40px;
    }
    h3 {
      font-family: "Gotham-Medium";
      text-align: center;
      font-size: 28px;
      margin-bottom: 40px;
      color: #fff;
    }
    .guide_content {
      border-top: 1px solid #fff;
      padding-top: 40px;
    }
    ol {
      padding-left: 20px;
      li {
        color: #fff;
        font-family: "Gotham-Book";
        font-size: 18px;
        margin-bottom: 20px;
        &::marker {
          font-family: "Gotham-Medium";
        }
        strong {
          font-family: "Gotham-Medium";
        }
        .guide_top {
          padding-left: 10px;
          margin-bottom: 20px;
          background: url("assets/images/arrow_right.png") no-repeat right
            center / 10px;
          cursor: pointer;
          &.active {
            background: url("assets/images/arrow_bottom.png") no-repeat right
              center / 10px;
          }
        }
        .guide_bot {
          display: none;
          img {
            width: 90%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  canvas {
    position: fixed;
    left: 31%;
    top: 22%;
    transform: translate(-50%, -50%);
    transform: scale(3.8);
    width: 700px;
    height: 700px;
  }
}
@media only screen and (max-width: 1080px) {
  section {
    .section_laptop_slider {
      .container {
        width: 100%;
        padding: 0 20px;
      }
      h3 {
        font-size: 22px;
      }
      .ls_half {
        font-size: 13px;
        &.buy_now {
          font-size: 16px;
        }
      }
    }
    .section_gamepass {
      .container {
        width: 100%;
        padding: 0 20px;
      }
      h3 {
        font-size: 22px;
      }
    }
    .section_guide {
      .container {
        padding: 0 40px;
        width: 100%;
      }
      h3 {
        font-size: 22px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .section1Mob {
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      padding: 0 25px;
    }
    .laptop-wrapper {
      position: relative;
      padding-bottom: 67.5%;
      height: 0;
    }
    .laptop-wrapper video {
      box-sizing: border-box;
      background: url("assets/images/origin.png") center center no-repeat;
      background-size: contain;
      padding: 7% 1% 27% 0%;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #animation1Mob {
      transform: translate(-50%, -50%);
      transform: scale(1);
      position: fixed;
      left: -17%;
      top: -20%;
      width: 500px;
      height: 500px;
    }

    #fourthWordMob {
      text-align: center;
      font-size: 4rem;
    }
  }
  .section2Mob {
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      padding: 0 25px;
    }
    #animation2Mob {
      transform: translate(-50%, -50%);
      transform: scale(1);
      position: fixed;
      left: -11%;
      top: -20%;
      width: 450px;
      height: 450px;
    }
    #eightWordMob {
      text-align: center;
      font-size: 4rem;
    }
  }
  .section3Mob {
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      padding: 0 25px;
    }
    #animation3Mob {
      transform: translate(-50%, -50%);
      transform: scale(1);
      position: fixed;
      left: -20%;
      top: -20%;
      width: 500px;
      height: 500px;
    }
  }
  .bottomContent {
    .section_laptop_slider {
      h3 {
        font-size: 18px;
        line-height: 28px;
      }
      .ls_half {
        font-size: 13px;
        &.buy_now {
          font-size: 16px;
        }
      }
    }
    .section_gamepass {
      h3 {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .section_guide {
      .container {
        padding: 0 20px;
      }
      h3 {
        font-size: 18px;
        line-height: 28px;
      }
      .guide_box {
        padding: 20px;
      }
      ol {
        li {
          font-size: 14px;
          .guide_top {
            padding-right: 20px;
          }
        }
      }
    }
  }
}
